# =========================
# NODE / OUTILS
# =========================
node_modules/
package.json
package-lock.json

# =========================
# CONFIG SENSIBLE
# =========================
config/db-config.php

# =========================
# LOGS / CACHE
# =========================
*.log
*.cache

# =========================
# UPLOADS (NO VERSIONADOS)
# =========================
/public/uploads/*
!/public/uploads/.gitkeep

# =========================
# FICHIERS GENERADOS
# =========================
/public/assets/css/*.map

# =========================
# MEDIA INUTILE / DEMO
# =========================
public/assets/images/demo.articles/

# =========================
# MEDIA PESADA
# =========================
public/assets/images/videos/fournier-roux1.webm
public/assets/images/videos/fournier-roux1.mp4

# =========================
# OS / EDITOR
# =========================
.DS_Store
Thumbs.db
.vscode/