# Node
node_modules/

# Config sensible
config/db-config.php

# Logs / cache
*.log
*.cache

# Media pesada
public/assets/images/videos/fournier-roux1.webm
public/assets/images/videos/fournier-roux1.mp4
