/* =========================
   TYPOGRAPHIE
========================= */
@font-face {
  font-family: "Luciole";
  src:
    url("../fonts/Luciole-Regular.woff2") format("woff2"),
    url("../fonts/Luciole-Regular.ttf") format("truetype");
  font-weight: $font-weight-regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole-Bold.woff2") format("woff2");
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole-Italic.woff2") format("woff2");
  font-weight: $font-weight-regular;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole-BoldItalic.woff2") format("woff2");
  font-weight: $font-weight-bold;
  font-style: italic;
  font-display: swap;
}

/* =========================
   RESET + BASE
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  background-color: $color-bg-main;
  color: $color-text-main;
  font-family: $font-main;
  line-height: $line-height-relaxed;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}