/* =========================
   STRUCTURE GÉNÉRALE
========================= */

.app-shell {
  width: 100%;
  margin: 0 auto;
  background: $color-bg-main;
}

main:not(.profile-page):not(.admin-dashboard):not(.auth-page) {
  @include section-container;

  h2 {
    color: $color-primary;
    margin-bottom: $space-4xl;
  }
}